# Working with Lists

## Nested Lists

In [1]:
listing_houses = [[405650.988, 179, 4],
                  [709893.32, 288, 6],
                  [200932.123, 120, 3],
                  [404521.342, 153, 4],
                  [309421.21, 137, 3]]

# Finding the length of the data
print('The length of the data is: ', len(listing_houses))

# Finding the type of the data 
print('The type of the data is: ', type(listing_houses))

listing_houses

The length of the data is:  5
The type of the data is:  <class 'list'>

[[405650.988, 179, 4],
 [709893.32, 288, 6],
 [200932.123, 120, 3],
 [404521.342, 153, 4],
 [309421.21, 137, 3]]

### Accessing items

In [2]:
# Accessing a list of items from nested list
listing_houses[0]

[405650.988, 179, 4]

In [3]:
# Accessing an item specifically from nested list
listing_houses[2][1]

120

### Appending a new List

In [4]:
house_0 = listing_houses[0]

#Find the length of the data prior
print('The length of the data is: ', len(house_0))

price_per_m2 = house_0[0] / house_0[1]
house_0.append(price_per_m2)

print(house_0)

# Find the length of the data now
print('The length of the data is now: ', len(house_0))

The length of the data is:  3
[405650.988, 179, 4, 2266.2066368715086]
The length of the data is now:  4

# Working with Dictionary

## Row-wise

In [5]:
# Working with dictionaries rowwise
housing_dict_rowwise = [{'price_usd': 405650.988,
                         'area_m2': 179,
                         'rooms': 4},
                        {'price_usd': 709893.32,
                         'area_m2': 288,
                         'rooms': 6},
                        {'price_usd': 200932.123,
                         'area_m2': 120,
                         'rooms': 3},
                        {'price_usd': 404521.342,
                         'area_m2': 153,
                         'rooms': 4},
                        {'price_usd': 309421.21,
                         'area_m2': 137,
                         'rooms': 3},]

# Finding the type of the data
print('The type of the data is: ', type(housing_dict_rowwise))

# Finding the length of the data
print('The length of the data is: ', len(housing_dict_rowwise))

housing_dict_rowwise

The type of the data is:  <class 'list'>
The length of the data is:  5

[{'price_usd': 405650.988, 'area_m2': 179, 'rooms': 4},
 {'price_usd': 709893.32, 'area_m2': 288, 'rooms': 6},
 {'price_usd': 200932.123, 'area_m2': 120, 'rooms': 3},
 {'price_usd': 404521.342, 'area_m2': 153, 'rooms': 4},
 {'price_usd': 309421.21, 'area_m2': 137, 'rooms': 3}]

### Accessing values in row-wise Dictionary

In [6]:
# Accessing key-value pairs from second dictionary
housing_dict_rowwise[1]

{'price_usd': 709893.32, 'area_m2': 288, 'rooms': 6}

In [7]:
# Accessing key-value pairs specifically from listed dictionaries
housing_dict_rowwise[3]['area_m2']

153

In [8]:
# Accessing values of key 'price_usd' from every given dictionary
for i in housing_dict_rowwise:
    print(i['price_usd'])

405650.988
709893.32
200932.123
404521.342
309421.21

### Append a new Key-Value pair into Dictionary

In [9]:
# Appending 'price_per_m2' and their values to the Dictionary by operating between 'price_usd' and 'area_m2'
for i in housing_dict_rowwise:
    i['price_per_m2'] = i['price_usd'] / i['area_m2']

# Finding length of the dictionary 
print('The length of the dictionary is: ', len(housing_dict_rowwise))

housing_dict_rowwise

The length of the dictionary is:  5

[{'price_usd': 405650.988,
  'area_m2': 179,
  'rooms': 4,
  'price_per_m2': 2266.2066368715086},
 {'price_usd': 709893.32,
  'area_m2': 288,
  'rooms': 6,
  'price_per_m2': 2464.9073611111107},
 {'price_usd': 200932.123,
  'area_m2': 120,
  'rooms': 3,
  'price_per_m2': 1674.4343583333332},
 {'price_usd': 404521.342,
  'area_m2': 153,
  'rooms': 4,
  'price_per_m2': 2643.930339869281},
 {'price_usd': 309421.21,
  'area_m2': 137,
  'rooms': 3,
  'price_per_m2': 2258.5489781021897}]

## Column-wise

In [10]:
# Working with dictionaries columnwise
housing_dict_columnwise = {'price_usd': [405650.988, 709893.32, 200932.123, 404521.342, 309421.21], 
                'area_m2': [179, 288, 120, 153, 137], 
                'rooms': [4, 6, 3, 4, 3]}

# Finding the type of the data
print('housing_dict_columnwise is of type: ', type(housing_dict_columnwise))

# Finding the length of the data
print('hosuing_dict_columnwise is of length: ', len(housing_dict_columnwise))

housing_dict_columnwise

housing_dict_columnwise is of type:  <class 'dict'>
hosuing_dict_columnwise is of length:  3

{'price_usd': [405650.988, 709893.32, 200932.123, 404521.342, 309421.21],
 'area_m2': [179, 288, 120, 153, 137],
 'rooms': [4, 6, 3, 4, 3]}

### Accessing values in column-wise Dictionary

In [11]:
# Accessing the values of key 'price_usd' 
housing_dict_columnwise['price_usd']

[405650.988, 709893.32, 200932.123, 404521.342, 309421.21]

In [12]:
# Accessing the values of key 'area_m2'
housing_dict_columnwise['area_m2']

[179, 288, 120, 153, 137]

In [13]:
# Accessing the values of key 'rooms'
housing_dict_columnwise['rooms']

[4, 6, 3, 4, 3]

### Operating on the dictionary

In [14]:
mean_pricing = sum(housing_dict_columnwise['price_usd']) / len(housing_dict_columnwise['price_usd'])

mean_pricing

406083.79659999994

### Append a new Key-Value pair into Dictionary

In [15]:
price = housing_dict_columnwise['price_usd']
area = housing_dict_columnwise['area_m2']
zip(price, area)

price_per_area = []
for p, a in zip(price, area):
    price_per_m2 = p / a
    price_per_area.append(price_per_m2)
housing_dict_columnwise['price_per_m2'] = price_per_area

# Finding the length of the data 
print('The length of the data is: ', len(housing_dict_columnwise))

housing_dict_columnwise

The length of the data is:  4

{'price_usd': [405650.988, 709893.32, 200932.123, 404521.342, 309421.21],
 'area_m2': [179, 288, 120, 153, 137],
 'rooms': [4, 6, 3, 4, 3],
 'price_per_m2': [2266.2066368715086,
  2464.9073611111107,
  1674.4343583333332,
  2643.930339869281,
  2258.5489781021897]}

# Dataframe using Pandas

In [16]:
# Creating a dataframe using Pandas for housing_dict_columnwise dictionary
import pandas as pd
df_housing = pd.DataFrame(housing_dict_columnwise)

df_housing

    price_usd  area_m2  rooms  price_per_m2
0  405650.988      179      4   2266.206637
1  709893.320      288      6   2464.907361
2  200932.123      120      3   1674.434358
3  404521.342      153      4   2643.930340
4  309421.210      137      3   2258.548978